* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

:root {
  --primary-color: #31404e;
  --secondary-color: #425364;
  --border-color: #678bad;
  --btn-color: #337ab7;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  outline: none;
}

input, select, textarea {
  box-shadow: 0 2px 4px #0003;
}